<html>
    <body>
        <form action="http://localhost:5000/uploader" method="POST", enctype="multipart/form-data">
        <input type = "file" name="file"/>
        <input type="submit" value="upload"/>
        </form> 
        <!-- <form action="http://localhost:5000/process?action=stop">
        <input type="submit" value="stop"/>
        </form>
        <form action="http://localhost:5000/process?action=resume">
            <input type="submit" value="resume"/>
            </form>
        <form action="http://localhost:5000/process?action=terminate">
            <input type="submit" value="terminate"/>
        </form>
                         -->
    </body>
</html>